<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Solar System </title>
         <style>
            @import url("/css/styles.css");
        </style>
  </head>
  
 <body>