<% include partials/header.ejs %>
<body>
  <h1>
     Welcome to Earth
  </h1>
    <nav><!-- defines a semantic section as a navigation menu-->
   <a href ="/">Home</a><br>
     <a href ="/mercury"> Mercury</a><br>
     <a href ="/Venus"> Venus</a> <br>
   <strong><a href ="/Earth"> Earth</a></strong> <br> 
      <a href ="Saturn" >Saturn</a> <br> 
  </nav>
  <div class="hero-image">
  <div class="hero-text">
    <img src ="/img/earth.jpg" alt="Earth" class="rounded-circle" width = "fill" height="400" />
        <h2 >
        Earth is the third planet from the Sun and is the largest of the <br>
        terrestrial planets. The Earth is the only planet in our solar system<br>
        not to be named after a Greek or Roman deity. The Earth was formed <br>
        approximately 4.54 billion years ago and is the only known planet to <br>
        support life.
    </h2>
      
  </div>
</div>
  
<% include partials/footer.ejs %>