<% include partials/header.ejs %>
  <h1>Welcome to Mercury</h1>
   
    <nav><!-- defines a semantic section as a navigation menu-->
   <a href ="/">Home</a><br>
     <strong>   <a href ="/mercury"> Mercury</a></strong> <br>
     <a href ="/Venus"> Venus</a> <br>
      <a href ="/Earth"> Earth</a> <br> 
      <a href ="Saturn" >Saturn</a> <br> 
  </nav> 
   <div class="hero-image">
  <div class="hero-text">
  <img src ="/img/mercury.jpg" alt="Mercury" class="rounded-circle" width = "fit" height="400" />
  <h2>
    Mercury is the smallest planet in the Solar System.
    One of five planets visible with the naked eye a, Mercury<br>
    is just 4,879 Kilometres across its equator, compared with <br>
    12,742 Kilometres for the Earth.
  </h2>
  </div>
    </div>
<% include partials/footer.ejs %>