<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Solar System </title>
</head>
<body>
  <h1>
     Welcome to Saturn 
  </h1>
   <nav><!-- defines a semantic section as a navigation menu-->
     <a href ="/index">Home</a><br>
      <a href ="/mercury"> Mercury</a> <br>
      <a href ="/Venus"> Venus</a> <br>
      <a href ="/Earth"> Earth</a> <br> 
     <stong><a href ="Saturn" >Saturn</a></stong> <br> 
  </nav> 
  <img src ="/img/saturn.jpg" alt="Saturn" width = "fit" height="400" />
</body>
</html>