<% include partials/header.ejs %>
  <h1>
     Welcome to Saturn 
  </h1>
   <nav><!-- defines a semantic section as a navigation menu-->
     <a href ="/">Home</a><br>
      <a href ="/mercury"> Mercury</a> <br>
      <a href ="/Venus"> Venus</a> <br>
      <a href ="/Earth"> Earth</a> <br> 
     <stong><a href ="Saturn" >Saturn</a></stong> <br> 
  </nav> 
  <img src ="/img/Saturn.jpg" alt="Saturn"width = "fit" height="400"  />
   <h2>
    Saturn is the sixth planet from the Sun and the most distant that can be seen with the naked eye. Saturn is the second largest planet and is best known for its fabulous ring system that was first observed in 1610 by the astronomer Galileo Galilei. Like Jupiter, Saturn is a gas giant and is composed of similar gasses including hydrogen, helium and methane.
  </h2>
<% include partials/footer.ejs %>