<% include partials/header.ejs %>
  <h1>Welcome to venus</h1>
    <nav><!-- defines a semantic section as a navigation menu-->
   <a href ="/">Home</a><br>
      <a href ="/mercury"> Mercury</a> <br>
     <strong>  <a href ="/Venus"> Venus</a></strong> <br>
      <a href ="/Earth"> Earth</a> <br> 
      <a href ="Saturn" >Saturn</a> <br> 
  </nav> 
   <div class="hero-image">
  <div class="hero-text">
  <img src ="/img/venus.jpg" alt="Venus" class="rounded-circle" width = "fit" height="400" />
  <h2>
   Venus is the second planet from the Sun and is the second largest <br>
   terrestrial planet. Venus is sometimes referred to as the Earth’s <br>
   sister planet due to their similar size and mass. Venus is named after <br>
   the Roman goddess of love and beauty.
  </h2>
    </div>
</div>
  
<% include partials/footer.ejs %>